.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    
  }
  
  .headerTitleSm {
    position: absolute;
    top: 22%;
    font-size: 20px;
    color: black;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 25%;
    font-size: 100px;
    color: #E8F9FD;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
  }